.ag-theme-material {
    width: 100% !important;
    height: 400px;
}
.ag-theme-alpine {
    width: 100% !important;
    height: 400px;
}
.ag-root-wrapper.ag-layout-normal.ag-ltr {
    border-radius: 15px;
}