.margin-left-10p {
    margin-left: 1rem;
}
.margin-top-20p {
    margin-top: 2rem !important;
}
.margin-right-10p {
    margin-right: 1rem;
}
.justify-content-end {
    display: flex;
    justify-content: flex-end;
}
.justify-content-center {
    display: flex;
    justify-content: center;
}

.react-datepicker-wrapper {
    input {
        height: 44px !important;
        padding: 20px !important;
    }
}
.a-link {
    color: #0d6efd;
    text-decoration: underline;
    cursor: pointer;
}
.link-dark {
    color: #ffffff;
}
.link-dark:hover {
    color: #20acd6;
}
button.close {
    border-radius: 20px;
    background: #ffffff;
    border: 1px solid #737373;
    :hover {
        color: #37c1f8;
        border-radius: 20px;
        border: 1px solid #37c1f8 !important;
    }
}
button:disabled {
    cursor: no-drop;
}
.btn-md {
    min-width: 20%;
}
.btn-lg {
    min-width: 30%;
}

.display-flex-col {
    display: flex;
    flex-direction: column;
}
.display-flex-center {
    display: flex;
    justify-content: center;
}

.page-body {
    width: 100%;
    position: absolute;
    background: url("./img/meal2.jpg");
    height: 920px;
    top: 55px;
    background-size: cover;
    background-repeat: no-repeat;
}
.search-container {
    margin-top: 14%;
}
.title {
    font-size: 2rem;
    font-weight: 600;
}
.flex-text-center {
    display: flex;
    justify-content: center;
}
.flex-direction-column {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    display: inline-block;
    position: relative;
}
.input-wrapper:after {
    font-family: "FontAwesome";
    content: "\f274";
    position: absolute;
    right: 6px;
}

.navbar-brand {
    color: crimson !important;
    font-size: 30px;
}
.navbar-brand:hover {
    color: #ffffff !important;
    font-size: 30px;
}
.fa-check-circle {
    color: rgb(27, 151, 233);
    font-size: 20px;
}

.neo-text-xs {
    font-size: 1rem !important;
}
.neo-text-sm {
    font-size: 1.2rem !important;
}
.neo-text-md {
    font-size: 1.5rem !important;
}
.neo-text-lg {
    font-size: 2rem !important;
}
.border-bottom {
    border-bottom: 1px solid #807777;
}

.justify-content-flex-start {
    display: flex;
    justify-content: flex-start !important;
}
.mealImage {
    background: url("./img/enfield-bullet-1.png");
    width: 100%;
    height: 443px;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
}

.display-flex-center-vertical {
    display: flex;
    align-items: center;
}
.margin-top-35per {
    margin-top: 35% !important;
}
.bg-success {
    background-color: rgb(71, 161, 71) !important;
}
.input-filer-lg {
    width: 100%;
    height: 41px;
    padding-left: 13px;
}

.title-parent {
    height: 88px;
    align-items: center;
    background-color: #212529;
    border-radius: 25px;
    color: #ffffff;
}

.padding-0p {
    padding: 0px !important;
}
.margin-rl-0p {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
