// Small tablets and large smartphones (landscape view)
$screen-sm-max: 599px;
$screen-sm-min:600px;
// Small tablets (portrait view)
$screen-md-portrait-min: 768px;
$screen-md-min: 900px;
// Tablets and small desktops
$screen-md-desktop:1024px;
$screen-lg-min: 1200px;

// Large tablets and desktops
$screen-xl-min: 1800px;