.neo-input {
    border-radius: 10px;
    border: 1px solid #615f5f;
    width: 100%;
    outline: none;
    height: 36px;
    padding-left: 10px;
}
input {
    border-radius: 10px !important;
    outline: none !important;
    border: 1px solid #6d6a6a;
}
input:focus {
    border-radius: 10px !important;
    border: 1px solid #37c1f8 !important;
    outline: none !important;
}